html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: left;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simulation {
    border: 2px solid #000;
    background-color: #e0dfe6;
    margin: 0 64px;
}

#controls {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#controls #buttons {
    padding: 16px;
}

#controls button {
    text-align: left;
    padding: 4px 8px;
    margin: 8px 0;
    border-radius: 3px;
    cursor: pointer;
}

#controls button:hover {
    background-color: cadetblue;
}

#controls button:active {
    background-color: darkcyan;
}

#text {
    text-align: left;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    color: white;
    background-color: black;
}

#text > div {
    padding: 8px 0;
}
